@charset "utf-8";
@rem:100rem;
@3c:#3c3c3c;
header{
  height: 96/@rem;
  line-height: 96/@rem;
  padding: 0 14/@rem;
  color: @3c;
  font-size: 36/@rem;
  text-align: center;
  position: relative;
  border-bottom: 1/@rem solid #EBEBEB;
}
header i {
  color: @3c;
  font-size: 30/@rem;
  position: absolute;
  left: 14/@rem;
}
section {
  width: 100%;
  height: auto;
  text-align: center;
}
section .warp{
  width: 590/@rem;
  display:block;
  margin: 0 auto;
}
section .warp .input-container{
  position: relative;
  margin-top: 40/@rem;
  height: 68/@rem;
}
section .warp  p{
  font-size: 28/@rem;
  color: @3c;
  margin: 74/@rem 0 10/@rem;

}
section .warp .input-container label{
   position: absolute;
   top:0;
   left: 0;
   height: 100%;
   line-height: 68/@rem;
   width: 122/@rem;
   font-size: 28/@rem;
   color: @3c;
  text-align: left;
 }
section .warp .input-container .time{
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  line-height: 68/@rem;
  width: 126/@rem;
  font-size: 24/@rem;
  color: #868686;
  background: #eeeeee;
  border-right: 1/@rem solid #eeeeee;
}
section .warp .input-container  .icon-icon{
  position: absolute;
  right: 140/@rem;
  top:14/@rem;
  font-size: 34/@rem;
  color: #d4d4d4;
}
section .warp .input-container input{
  width: 438/@rem;
  height: 100%;
  line-height: 68/@rem;
  margin-left: 152/@rem;
  border: 1/@rem solid #f1f1f1;
  outline: 0;
  padding-left: 20/@rem;
  font-size: 24/@rem;
}
section .warp .input-container .verify{
   width: 438/@rem;
   height: 100%;
   line-height: 68/@rem;
   margin-left: 152/@rem;
   border: 1/@rem solid #f1f1f1;
   outline: 0;
   padding-right:180/@rem;
 }
section .warp .input-container .active{
  border: 1/@rem solid @3c;
}
section .warp>a{
  display: block;
  height: 72/@rem;
  line-height: 72/@rem;
  background: #ea0000;
  color: #fff;
  font-size: 32/@rem;
  margin-top: 66/@rem;
}
section .warp .input-container .time-active{
  border-bottom: 1/@rem solid #868686;
  border-top: 1/@rem solid #868686;
  border-right: 1/@rem solid #868686;
}
section .warp-one{
  width: 590/@rem;
  display:block;
  margin: 0 auto;
}
section .warp-one .input-container{
  position: relative;
  margin-top: 40/@rem;
  height: 68/@rem;
}
section .warp-one .input-container label{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  line-height: 68/@rem;
  width: 122/@rem;
  font-size: 28/@rem;
  color: @3c;
  text-align: center;
}
section .warp-one  .input-container input{
  width: 438/@rem;
  height: 100%;
  line-height: 68/@rem;
  margin-left: 152/@rem;
  border: 1/@rem solid #f1f1f1;
  outline: 0;
  padding-left: 20/@rem;
}
section .warp-one .input-container  .icon-icon{
  position: absolute;
  right: 14/@rem;
  top:14/@rem;
  font-size: 34/@rem;
  color: #d4d4d4;
  display: none;
}
section .warp-one .input-container .yanIcon{
  right: 140/@rem;
}
section .warp-one .input-container img{
  height: 65/@rem;
  width: 130/@rem;
  position: absolute;
  right: 1/@rem;
  top:1/@rem;
}
section .warp-one>a{
  display: block;
  height: 72/@rem;
  line-height: 72/@rem;
  background: #ea0000;
  color: #fff;
  font-size: 32/@rem;
  margin-top: 66/@rem;
}