@charset "utf-8";
/*::-webkit-scrollbar {width: 0;height: 0;}*/
body {
  background: #f3f3f3;
}
header,
section .touxiang,
section .message {
  background: #fff;
}
header {
  position: relative;
  height: 0.96rem;
  line-height: 0.96rem;
  padding: 0 0.14rem;
  color: #3c3c3c;
  font-size: 0.36rem;
  text-align: center;
  border-bottom: 0.01rem solid #ebebeb;
  z-index: 70;
}
header .icon-llmainpageback {
  color: #3c3c3c;
  position: absolute;
  left: 0.14rem;
  font-size: 0.3rem;
}
header em {
  color: #3c3c3c;
  position: absolute;
  top: 0;
  right: 0.14rem;
  font-size: 0.28rem;
  font-style: normal;
}
section {
  padding: 0 0.14rem;
}
footer {
  position: absolute;
  bottom: 0;
  padding: 0.2rem 0.14rem;
  font-size: 0.24rem;
}
h1 {
  font-size: 0.3rem;
  margin-top: 0.2rem;
  font-weight: normal;
}
h2 {
  font-size: 0.3rem;
  margin-top: 0.3rem;
  font-weight: normal;
}
p {
  font-size: 0.26rem;
}
