@charset "utf-8";
body {
  background: #f3f3f3;
}
header,
section .touxiang,
section .message {
  background: #fff;
}
section .message .brithday {
  position: absolute;
  right: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
}
header {
  height: 0.96rem;
  line-height: 0.96rem;
  padding: 0 0.14rem;
  color: #3c3c3c;
  font-size: 0.36rem;
  text-align: center;
  position: relative;
  border-bottom: 0.01rem solid #ebebeb;
}
header i {
  color: #3c3c3c;
  font-size: 0.3rem;
  position: absolute;
  left: 0.14rem;
}
section .touxiang {
  position: relative;
  height: 1.2rem;
  width: 100%;
  line-height: 1.2rem;
  padding: 0 0.6rem 0 0.14rem;
  color: #3c3c3c;
  border-bottom: 0.01rem solid #ebebeb;
  font-size: 0.28rem;
}
section .touxiang img {
  float: right;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.2rem;
}
section .message {
  position: relative;
  height: 0.8rem;
  width: 100%;
  line-height: 0.8rem;
  padding: 0 0.6rem 0 0.14rem;
  color: #3c3c3c;
  border-bottom: 0.01rem solid #ebebeb;
  font-size: 0.28rem;
}
section em {
  float: right;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #3c3c3c;
  font-size: 0.24rem;
  font-style: normal;
}
section .touxiang i,
section .message i {
  position: absolute;
  right: 0.14rem;
  color: #adadad;
  font-size: 0.24rem;
}
.sex-warp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.sex-warp .black {
  display: none;
  filter: alpha(opacity=0);
  opacity: 0;
  width: 100%;
  height: 100%;
  background: black;
}
.sex-warp .sex {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background: #fff;
}
.sex-warp .sex a {
  display: block;
  height: 0.8rem;
  line-height: 0.8rem;
  width: 100%;
  text-align: center;
  font-size: 0.28rem;
  color: #3c3c3c;
}
.sex-warp .sex .wire {
  border-bottom: 0.01rem solid #ebebeb;
}
.sex-warp .sex .sex-active {
  color: #ea0000;
}
.photo-warp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.photo-warp .black {
  display: none;
  filter: alpha(opacity=0);
  opacity: 0;
  width: 100%;
  height: 100%;
  background: black;
}
.photo-warp .photo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background: #fff;
}
.photo-warp .photo a {
  display: block;
  height: 0.8rem;
  line-height: 0.8rem;
  width: 100%;
  text-align: center;
  font-size: 0.28rem;
  color: #3c3c3c;
}
.photo-warp .photo .wire {
  border-bottom: 0.01rem solid #ebebeb;
}
.photo-warp .photo .cancel {
  background: #ea0000;
  font-size: 0.28rem;
  color: #fff;
}
.dtpicker-header .dtpicker-title {
  font-size: 0.3rem;
  color: #3c3c3c;
}
#filetest {
  display: none;
}
