@charset "utf-8";
@rem:100rem;
@red:#ea0000;
@80:#808080;
header{
  height: 96/@rem;
  line-height: 96/@rem;
  padding: 0 14/@rem;

}
header i {
  color: #3c3c3c;
  font-size: 30/@rem;
}
section{
   text-align: center;
   width: 100%;
   height:auto ;
}
section .warp{
  text-align: center;
  width: 100%;
  height:auto ;
}
section .warp>a{
  display: block;
  margin: 0 auto;
  width: 590/@rem;
  background: @red;
  color: #fff;
  height: 74/@rem;
  font-size: 32/@rem;
  line-height: 74/@rem;
}
section .warp img{
  width: 150/@rem;
  height: 150/@rem;
  margin:  30/@rem 0;
}
section .warp .input-container{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 590/@rem;
  height: 60/@rem;
  line-height:60/@rem;
  border-bottom: 1/@rem solid @80;
  margin-bottom: 60/@rem;
}
section .warp .red{
  border-bottom: 1/@rem solid @red;
}
section .warp .input-container .Ired{
  color: @red;
}
section .warp .input-container i{
  color: @80;
}
section .warp .input-container .icon-artboard31{
  position: absolute;
  left: 30/@rem;
  font-size: 36/@rem ;
}
section .warp .input-container .icon-suo{
  position: absolute;
  left: 30/@rem;
  font-size: 36/@rem ;
}
section .warp .input-container input{
  border:0;
  color:@80;
  width: 100%;
  font-size: 24/@rem ;
  padding:10/@rem 140/@rem 10/@rem 90/@rem;
  outline: 0;
}
section .warp .input-container .icon-icon{
  position: absolute;
  display: none;
  top:0;
  right: 30/@rem;
  color:@80;
  font-size: 32/@rem ;
}
section .warp .input-container .icon-eye-close,section .warp .input-container .icon-yanjing-copy-copy-copy-copy{
  position: absolute;
  right: 90/@rem;
  top:0;
  color:@80;
  font-size: 32/@rem ;
}
section .warp  .register-forget{
  display:inline-block;;
   width: 450/@rem;
  height: 90/@rem;
  line-height: 90/@rem;
}
section .warp  .register-forget .register{
  display: inline-block;
  float: left;
  color: @80;
  font-size: 24/@rem;
}
section .warp  .register-forget .forget{
  display: inline-block;
  float: right;
  color: #7384ff;
  font-size: 24/@rem;
}
section .warp .over-entry{
  position: relative;
  border-top:1/@rem solid #d4d4d4;
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 100/@rem;
}
section .warp .over-entry span{
  display: block;
  background: #fff;
  width: 150/@rem;
  padding: 0 10/@rem;
  position: absolute;
  left: 50%;
  top:-15/@rem;
  margin-left: -75/@rem;
  font-size: 24/@rem;
  color: @80;

}
section .warp .over-entry i{
  display: inline-block;
  font-size: 70/@rem;
  padding: 0 54/@rem;
  margin-top:40/@rem;
}
section .warp .over-entry .icon-xinlang{
  color: @red;
}
section .warp .over-entry .icon-qq{
  color: #35BAFF;
}
section .warp .over-entry .icon-weixin{
   color:#00DA3E
}


