@charset "utf-8";
@rem:100rem;
@3c:#3c3c3c;
/*::-webkit-scrollbar {width: 0;height: 0;}*/
body{background: #f3f3f3}
header,section .touxiang,section .message{
  background: #fff;
}
header{
  position: relative;
  height: 96/@rem;
  line-height: 96/@rem;
  padding: 0 14/@rem;
  color: @3c;
  font-size: 36/@rem;
  text-align: center;
  border-bottom: 1/@rem solid #ebebeb;;
  z-index: 70;
}
header  .icon-llmainpageback{
  color: @3c;
  position: absolute;
  left: 14/@rem;
  font-size: 30/@rem;
}
header em{
  color: @3c;
  position: absolute;
  top:0;
  right: 14/@rem;
  font-size: 28/@rem;
  font-style: normal;
}
.title {
 padding: 80/@rem 0;
  width: 100%;
  height: auto;
  text-align: center;
}
.title img{
  width: 110/@rem;
  height: 110/@rem;
}
.title h3{
  font-size: 28/@rem;
  color: @3c;
  font-weight: normal;
  margin-top: 20/@rem;
}
.company{
  width: 100%;
  height: auto;
  background: #fff;
  margin-bottom: 60/@rem;
}
.company>div{
  position: relative;
  height: 80/@rem;
  line-height: 80/@rem;
  border-bottom: 1/@rem solid #ebebeb;
  padding-left: 14/@rem;
  font-size: 28/@rem;
}
.company>div i{
  position: absolute;
  right: 14/@rem;
  top:0;
  color: #adadad;
}
footer{
  width: 100%;
  height: auto;
  padding: 0 14/@rem;
}
footer p{
  font-size: 24/@rem;
  color: @3c;
}