@charset "utf-8";
body {
  background: #ebebeb;
}
header {
  height: 0.96rem;
  line-height: 0.96rem;
  padding: 0 0.14rem;
  color: #3c3c3c;
  font-size: 0.36rem;
  text-align: center;
  position: relative;
  border-bottom: 0.01rem solid #ebebeb;
  background: #fff;
}
header .icon-llmainpageback {
  color: #3c3c3c;
  font-size: 0.3rem;
  position: absolute;
  left: 0.14rem;
}
section {
  margin-bottom: 1.4rem;
}
section .one-eva {
  width: 100%;
  height: auto;
  margin-bottom: 0.2rem;
  padding: 0 0.14rem;
  background: #fff;
}
section .one-eva .top {
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 0.28rem;
}
section .one-eva .top img {
  float: left;
  width: 0.96rem;
  height: 0.96rem;
  margin: 0.2rem 0;
  display: inline;
  vertical-align: top;
}
section .one-eva .top > span {
  float: left;
  display: inline-block;
  height: 0.96rem;
  line-height: 0.96rem;
  margin: 0.2rem 0.1rem 0.2rem 0.2rem;
}
section .one-eva .top .star {
  float: left;
  display: inline-block;
  overflow: hidden;
  width: 1.4rem;
  height: 0.22rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
section .one-eva .top .star .star_red {
  display: block;
  float: left;
  height: 0.22rem;
  width: 0.22rem;
  margin-right: 0.06rem;
  background: url('../images/star_red.png');
  background-size: 100% 100%;
}
section .one-eva .top .star .star_white {
  display: block;
  float: left;
  height: 0.22rem;
  width: 0.22rem;
  margin-right: 0.06rem;
  background: url('../images/star_white.png');
  background-size: 100% 100%;
}
section .one-eva .container {
  position: relative;
  width: 100%;
  height: auto;
}
section .one-eva .container > span {
  position: absolute;
  right: 0.06rem;
  bottom: 0;
  font-size: 0.24rem;
  color: #adadad;
}
section .one-eva textarea {
  display: block;
  width: 100%;
  height: 2.18rem;
  outline: 0;
  border: 0.01rem solid #adadad;
  resize: none;
  padding: 0.2rem;
  color: #adadad;
  font-size: 0.24rem;
}
section .one-eva .photo {
  width: 100%;
  overflow: hidden;
  margin-top: 0.2rem;
}
section .one-eva .photo .photos {
  float: left;
  height: 1rem;
  width: 1rem;
  margin-right: 0.26rem;
  border: 0.01rem dotted #adadad;
  margin-bottom: 0.2rem;
}
section .one-eva .photo .photos img {
  width: 100%;
  height: 100%;
}
section .one-eva .photo .photos-camera {
  position: relative;
  float: left;
  height: 1rem;
  width: 1rem;
  border: 0.01rem dotted #adadad;
  font-size: 0.24rem;
  color: #adadad;
  text-align: center;
  overflow: hidden;
  margin-bottom: 0.2rem;
}
section .one-eva .photo .photos-camera i {
  display: block;
  color: #adadad;
  font-size: 0.6rem;
}
section .one-eva .photo .photos-camera input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.satisfaction {
  padding: 0.2rem 0.14rem 0.8rem 0.14rem;
  position: absolute;
  bottom: 0;
  background: #fff;
  width: 100%;
  font-size: 0.28rem;
  color: #3c3c3c;
  height: 1.2rem;
}
.satisfaction .five-star {
  width: 1.4rem;
  display: inline-block;
}
.satisfaction .five-star .star_red {
  display: block;
  float: left;
  height: 0.22rem;
  width: 0.22rem;
  margin-right: 0.06rem;
  background: url('../images/star_red.png');
  background-size: 100% 100%;
}
.satisfaction > span {
  font-size: 0.24rem;
  color: #adadad;
}
.satisfaction .icon-dianpu {
  font-size: 0.28rem;
}
.star > input {
  opacity: 0;
  position: absolute;
  height: 0.22rem;
  width: 0.22rem;
  margin-right: 0.06rem;
}
.star > input:nth-of-type(1),
.star > span:nth-of-type(1) {
  display: none;
}
.star > span {
  background: url('../images/star_red.png');
  background-size: 100% 100%;
  display: block;
  float: left;
  height: 0.22rem;
  width: 0.22rem;
  margin-right: 0.06rem;
}
.star > input:checked ~ span {
  background: url('../images/star_white.png');
  background-size: 100% 100%;
  display: block;
  float: left;
  height: 0.22rem;
  width: 0.22rem;
  margin-right: 0.06rem;
}
.star > input:checked + span {
  background: url('../images/star_red.png');
  background-size: 100% 100%;
  display: block;
  float: left;
  height: 0.22rem;
  width: 0.22rem;
  margin-right: 0.06rem;
}
