@charset "utf-8";
@rem:100rem;
@3c:#3c3c3c;
/*::-webkit-scrollbar {width: 0;height: 0;}*/
body{
  background: #f3f3f3;
}
header,section .touxiang,section .message{
  background: #fff;
}
header{
  position: relative;
  height: 96/@rem;
  line-height: 96/@rem;
  padding: 0 14/@rem;
  color: @3c;
  font-size: 36/@rem;
  text-align: center;
  border-bottom: 1/@rem solid #ebebeb;;
  z-index: 70;
}
header  .icon-llmainpageback{
  color: @3c;
  position: absolute;
  left: 14/@rem;
  font-size: 30/@rem;
}
section .run_mes{
  width: 100%;
  height: auto;
  padding: 0 20/@rem 40/@rem 20/@rem;
}
section .run_mes>p{
  font-size: 28/@rem;
  color: @3c;
  margin-top: 20/@rem;
}
section .reach{
  padding-left: 30/@rem;
  height: auto;
  width: 100%;
}
section .reach .wire{
  border-left: 2/@rem solid #adadad;
  padding-left: 30/@rem;
  width: 100%;
  height: auto;
}
section .reach .reach_address{
  border-bottom: 1/@rem solid #adadad;
  position: relative;
  color: @3c;
}
section .reach .wire .title{
  margin: 20/@rem 0;
  font-size: 28/@rem;
}
section .reach .wire .time>time{
  margin-right: 10/@rem;
}
section .reach .wire .time{
  margin-bottom: 20/@rem;
  font-size: 20/@rem;
}
section .reach .wire .circle{
  position: absolute;
  top:6/@rem;
  left: -45/@rem;
  border: 1/@rem solid #adadad;
  width: 26/@rem;
  height: 26/@rem;
  border-radius: 50%;
  background: #fff;
  z-index: 30;
}
section .reach .wire .blue{
  background: #389aff;
  border:0;
}
section .reach .wire .bluecolor{
  color: #389aff;
}
section .reach .wire .circle-warp{
  position: absolute;
  top:3/@rem;
  left: -48/@rem;
  width: 32/@rem;
  height: 32/@rem;
  border-radius: 50%;
  background: #389aff;
  opacity: 0.5;
  z-index: 20;
}
section .reach .contian{
  margin-top: -20/@rem;
}