@charset "utf-8";
@rem:100rem;
@3c:#3c3c3c;

body{
  background: #f3f3f3;
}
header,section .touxiang,section .message{
  background: #fff;
}
header{
  height: 96/@rem;
  line-height: 96/@rem;
  padding: 0 14/@rem;
  color: @3c;
  font-size: 36/@rem;
  text-align: center;
  position: relative;
  border-bottom: 1/@rem solid #ebebeb;;
}
header i {
  color: @3c;
  font-size: 30/@rem;
  position: absolute;
  left: 14/@rem;
}
section{
  padding: 0 14/@rem;
  height: auto;
  width:100%;
}
section .pay {
  width: 100%;
  height:auto;
  margin: 20/@rem 0 40/@rem 0;
}
section .pay>div{
  float: left;
  width: 24%;
  height: 68/@rem;
  line-height: 68/@rem;
  text-align: center;
  font-size: 28/@rem;
  color: @3c;
}
section .pay input {
  width: 76%;
  height: 68/@rem;
  outline: 0;
  border: 0;
  padding: 0 20/@rem;
  font-size: 24/@rem;
  color: #adadad;

}
section a{
  display: block;
  font-size: 32/@rem;
  background: #ea0000;
  opacity: 0.5;
  width: 100%;
  height: 80/@rem;
  line-height: 80/@rem;
  text-align: center;
  color: #fff;
}
section .accord{
  background: #ea0000;
  opacity: 1;
}