@charset "utf-8";
body {
  background: #f3f3f3;
}
header,
section .touxiang,
section .message {
  background: #fff;
}
header {
  height: 0.96rem;
  line-height: 0.96rem;
  padding: 0 0.14rem;
  color: #3c3c3c;
  font-size: 0.36rem;
  text-align: center;
  position: relative;
  border-bottom: 0.01rem solid #ebebeb;
}
header i {
  color: #3c3c3c;
  font-size: 0.3rem;
  position: absolute;
  left: 0.14rem;
}
section {
  padding: 0 0.14rem;
  height: auto;
  width: 100%;
}
section .pay {
  width: 100%;
  height: auto;
  margin: 0.2rem 0 0.4rem 0;
}
section .pay > div {
  float: left;
  width: 24%;
  height: 0.68rem;
  line-height: 0.68rem;
  text-align: center;
  font-size: 0.28rem;
  color: #3c3c3c;
}
section .pay input {
  width: 76%;
  height: 0.68rem;
  outline: 0;
  border: 0;
  padding: 0 0.2rem;
  font-size: 0.24rem;
  color: #adadad;
}
section a {
  display: block;
  font-size: 0.32rem;
  background: #ea0000;
  opacity: 0.5;
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  color: #fff;
}
section .accord {
  background: #ea0000;
  opacity: 1;
}
