@charset "UTF-8";
a {text-decoration: none;  }
a img {display: block;border: none;}
li {list-style: none;  }
* {
  word-break: break-all;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1; /* for IE6 IE7 */ }
body,html{width: 100%;height: 100%;}
body, html { min-width: 320px;margin: 0;padding: 0;
  margin: 0 auto;overflow-x: hidden;/*overflow-y: auto;*/font-family: 'Microsoft yahei';font-size: 14px;
  -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none;
}
textarea,button,input{-webkit-appearance:none;}
.loading-warp{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 9999;
}
.loading{
  background: url('../../images/interactive_ic_fox11.png')no-repeat;
  background-position: center center;
  background-size:50% 50%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 70px;
  height:70px;
  z-index: 9999;
}
.loading img{
  width: 100%;
  position:relative;
  animation:mymove 1.5s infinite linear;
  -webkit-animation:mymove 1.5s infinite linear;
}
@keyframes mymove
{
  from {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }
  to {
    transform:rotate(-360deg);
    -ms-transform:rotate(-360deg);
    -moz-transform:rotate(-360deg);
    -o-transform:rotate(-360deg);
  }
}

.app{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  color: #fff;
  font-size: 18px;
  background: black;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0.8;
}
 .load{
  display:block;
  height:80px;
  width: 100%;
  background: red;
   position: relative;
}
.loadingMore{
  background: url('../../images/interactive_ic_fox11.png')no-repeat;
  background-position: center center;
  background-size:50% 50%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 50px;
  height:50px;
  z-index: 9999;
}
.loadingMore img{
  width: 100%;
  position:relative;
  animation:mymove 1.5s infinite linear;
  -webkit-animation:mymove 1.5s infinite linear;
}